
useDynLib(lmeNBBayes)

export("dqmix","lmeNBBayes","getDIC","llk.FG_i",
       "index.batch.Bayes",
       "pointsgamma","plotgamma","plotbeta","plotnbinom",
       "slim",
       "plotGs","newCat",
       "useSamp","adjustPosDef",
       "colmeansd","getM","Nuniq","getS.StatInMed",
       "repeatAsID",
       "index.YZ","index.b.each","piM","lnpara","int.M",
       "E.KN",
       "print.LinearMixedEffectNBBayes","prIndex","condProbCI",
       "print.IndexBatch")
	


