
useDynLib(lmeNBBayes)

export("dqmix","lmeNBBayes","getDIC","index.batch.Bayes","multMeta",
       "pointsgamma","plotgamma","plotbeta","plotnbinom","slim","UsedPara","plotGs","newCat",
       "useSamp","adjustPosDef",
       "colmeansd","getM","Nuniq",
       "gsLabelnp","repeatAsID",
       "index.YZ","index.b.each",
       "E.KN","rTildeBeta","getS","aggBeta",
       "print.LinearMixedEffectNBBayes","prIndex","condProbCI",
       "print.IndexBatch")
	


